@use "../../scss/abstracts/" as *;

.container {
  width: 100%;
  &[data-size="small"] {
    height: 2.5rem;
  }

  &[data-size="medium"] {
    height: 3rem;
  }

  &[data-size="large"] {
    height: 3.5rem;
  }

  text-align: left;

  & > div {
    margin-bottom: 0.2rem;
    padding-left: 1rem;

    color: $color-white;

    font-weight: bold;

    & > span {
      font-size: 7pt;
      color: $color-red;

      @media (min-width: 767px) {
        font-size: 9pt;
      }
    }
  }
}

.input_container {
  width: 100%;
  height: 90%;

  display: flex;
  align-items: center;
  padding: 0.5rem;

  border: 1px solid $color-white;
  border-radius: 0.5rem;

  transition: 0.4s;

  &[data-error="true"] {
    
    border-color: $color-red;

    & > div > svg {
      color: $color-red;
    }

    & > input {
      color: $color-red;
    }
  }

  & > input {
    width: 80%;

    flex: 1;
    align-items: center;

    border: none;
    outline: none;

    background: transparent;
    color: $color-white;

    &::placeholder {
      color: $color-light-gray;
    }

    &::-webkit-inner-spin-button {
      display: none;
    }
  }

  &[data-size="small"] {
    & > div > svg, & > .password_eye {
      font-size: 14pt;
    }
  }

  &[data-size="medium"] {
    & > div > svg, & > .password_eye {
      font-size: 18pt;
    }
  }

  &[data-size="large"] {
    & > div > svg, & > .password_eye {
      font-size: 20pt;
    }
  }

  &[data-iconaction="true"] {
    & > div > svg, & > .password_eye {
      cursor: pointer;

      &:hover {
        color: $color-light-gray;
      }
    }
    
  }  

  & > div > svg {
    margin-right: 0.5rem;

    color: $color-white;

    cursor: default;

    transition: .5s; 
  }
}

.password_eye {
  cursor: pointer;

  transition: .5s; 
}