$color-white: #f9f9f9;
$color-light-gray: #CAD3C8;
$color-dark-gray: #636e72;
$color-black: #2C3A47;


$color-light-blue: #82ccdd;
$color-blue: #1e3799;
$color-dark-blue: #0c2461;

$color-light-green: #78e08f;
$color-green: #009432;
$color-dark-green: #009688;

$color-light-yellow: #ffeaa7;
$color-yellow: #fbc531;
$color-dark-yellow: #e1b12c;

$color-light-red: #ee5253;
$color-red: #eb2f06;
$color-dark-red: #b33939;